<!DOCTYPE HTML> <html lang="zh-CN">
<head>
  <title>itdiffer.com</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./statics/css/normalize.css">
</head>
<body>
<div class="container">
  <nav class="navbar navbar-default" role="navigation">

    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.itdiffer.com"><img src="./statics/images/logonav.jpg" style="width:25px; height:auto">老齐实训</a>
      </div>
      
      <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav" role="tablist">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">PYTHON<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://www.itdiffer.com">Django</a></li>
            <li><a href="http://www.itdiffer.com">Tornado</a></li>
            <li><a href="http://www.itdiffer.com">NumPy</a></li>
            <li><a href="http://www.itdiffer.com">Machine Learning</a><li>
          </ul>
        </li>
        <li><a href="http://www.itdiffer.com">HTML5</a></li>
        <li><a href="http://www.itdiffer.com">PHP</a></li>
        <li><a href="http://www.itdiffer.com">JAVA</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
              <input type="TEXT" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">SEARCH</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="http://www.itdiffer.com">Login</a></li>
      </ul>
      </div>
    </div>
  </nav>
</div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</body>
</html>
