<!DOCTYPE HTML>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>itdiffer.com</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./statics/css/base.css">
        <link rel="stylesheet" href="./statics/css/plugin.css">
    </head>
    <body>
        <div class="page">
            <section class="demo">
                <div class="content">
                    <form action="" method="post" class="login-form">
                        <div class="username">
                            <input type="text" name="username" placeholder="username" autocomplete="on" />
                            <span class="user-icon icon">u</span>
                        </div>
                        <div class="password">
                            <input type="password" name="password" placeholder="******" />
                            <span class="password-icon icon">p</span>
                        </div>
                        <div class="account-control">
                            <input type="checkbox" name="remember_me" id="remember_me" value="Remember me" checked="checked">
                            <label for="remember_me" data-on="c" class="check"></label>
                            <label for="remember_me" class="info">Remember me</label>
                            <button type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <script src="./statics/js/prefixfree.min.js"></script>
    </body>
</html>
