<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}"
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    {% block nav %}
      {% include "blog_nav.html" %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
  </body>
</html>
